extends layout

block content
  .container-fluid
    h1 The Southwest High School Costume Shop Database
    h2 A nav bar will go here for going to log in, show menu, submit new costume form, create new show form
    h2 A search form will go here for searching and sorting
    .row
      .col-lg-4.grey
        h3 Fur Coat
        .pic
        ul
          li Women's
          li Fur, silk lining
          li size xl
          li grey/white
          li checkout button/toggle
      .col-lg-4.grey
        h3 Cardinal robes
        .pic
        ul
          li unisex
          li polyester
          li one size fits most
          li red/black
          li Currently checked out to: Margaret Berg for Man of LaMancha Musical
          li Return date: March 15
          li checked out button/toggle
      .col-lg-4.grey
        h3 Evening Jacket
        .pic
        ul
          li Men's
          li cotton/poly blend
          li size m
          li navy blue
          li Currently checked out to: Washburn High School outside rental Contact: Nancy Lee
          li Return date: April 3